.terraform
private_terraform.tfvars
private_config.tf
private_dns.tf
.terraform.tfstate.lock.info
terraform.tfstate

# VIm swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# Mac OS X .DS_Store files
.DS_Store
